*
!*.gitignore
!*.md

!EXPERIMENTS/
!EXPERIMENTS/**/
EXPERIMENTS/**/hps_isw*
EXPERIMENTS/**/db
EXPERIMENTS/**/incremental_db
EXPERIMENTS/**/*.BAK*
EXPERIMENTS/**/*.bak*
EXPERIMENTS/**/synthesis
EXPERIMENTS/**/quartus_projects/**/*.csv
EXPERIMENTS/**/quartus_projects/**/*.qsys
!EXPERIMENTS/**/*.c
!EXPERIMENTS/**/*.h
!EXPERIMENTS/**/*.py
!EXPERIMENTS/**/*.v
!EXPERIMENTS/**/*.sv
!EXPERIMENTS/**/*.vhd
!EXPERIMENTS/**/*.tcl
!EXPERIMENTS/**/*.qpf
!EXPERIMENTS/**/*.sdc
!EXPERIMENTS/**/*.sh
!EXPERIMENTS/**/*.csv
!EXPERIMENTS/**/*.qsf
!EXPERIMENTS/**/*.qsys
!EXPERIMENTS/**/*.qip
!EXPERIMENTS/**/*.dtsi
!EXPERIMENTS/**/*.md
!EXPERIMENTS/**/*Makefile
!EXPERIMENTS/**/*xlsx
!EXPERIMENTS/**/*.ipynb

!IP/
!IP/**/
!IP/**/*.tcl
!IP/**/*.qip
!IP/**/*.qsys
!IP/**/*.v
!IP/**/*.sv
!IP/**/*.vhd
IP/**/*.BAK*
IP/**/*.bak*

!PLATFORM/
!PLATFORM/**/
!PLATFORM/**/*.c
!PLATFORM/**/*.h
!PLATFORM/**/*.dtsi
!PLATFORM/**/Makefile

!SETUP/
!SETUP/**/
!SETUP/**/*.c
!SETUP/**/*.h
!SETUP/**/*.sh
SETUP/**/*.BAK*
SETUP/**/*.bak*

!SW/
!SW/**/
!SW/**/*.py
!SW/**/*.c
!SW/**/*.h
!SW/**/*.ipynb
!SW/**/*.sh
!SW/**/*.xlsx
!SW/**/*.csv
SW/**/*.BAK*
SW/**/*.bak*

