*
!*.gitignore
!*.md

!IP/
!IP/**/
!IP/**/*.c
!IP/**/*.h
!IP/**/*.py
!IP/**/*.v
!IP/**/*.sv
!IP/**/*.tcl
!IP/**/*.qpf
!IP/**/*.sdc
!IP/**/*.sh
!IP/**/*.csv
!IP/**/*.qsf
!IP/**/*.qsys
!IP/**/*.qip
!IP/**/*.dtsi
!IP/**/*.md
!IP/**/*Makefile
!IP/**/*xlsx
IP/**/*.BAK*
IP/**/*.bak*
!IP/**/*.ipynb
!IP/TDC/Test_HW_F_PhiSweep_TDC256/output_files/soc_system.rbf

!Env/
!Env/**/
!Env/**/*.c
!Env/**/*.h
!Env/**/*.py
!Env/**/*.v
!Env/**/*.sv
!Env/**/*.tcl
!Env/**/*.qpf
!Env/**/*.sdc
!Env/**/*.sh
!Env/**/*.csv
!Env/**/*.qsf
!Env/**/*.qsys
!Env/**/*.qip
!Env/**/*.dtsi
!Env/**/*.md
!Env/**/*Makefile
!Env/**/*xlsx
Env/**/*.BAK*
Env/**/*.bak*
!Env/**/*.ipynb

!Scripts/
!Scripts/**/
!Scripts/**/*.c
!Scripts/**/*.h
!Scripts/**/*.py
!Scripts/**/*.v
!Scripts/**/*.sv
!Scripts/**/*.tcl
!Scripts/**/*.qpf
!Scripts/**/*.sdc
!Scripts/**/*.sh
!Scripts/**/*.csv
!Scripts/**/*.qsf
!Scripts/**/*.qsys
!Scripts/**/*.qip
!Scripts/**/*.dtsi
!Scripts/**/*.md
!Scripts/**/*Makefile
!Scripts/**/*xlsx
Scripts/**/*.BAK*
Scripts/**/*.bak*
!Scripts/**/*.ipynb

!SW/
!SW/**/
!SW/**/*.h
!SW/**/*.c
!SW/**/*.py
!SW/**/*.v
!SW/**/*.sv
!SW/**/*.tcl
!SW/**/*.qpf
!SW/**/*.sdc
!SW/**/*.sh
!SW/**/*.csv
!SW/**/*.qsf
!SW/**/*.qsys
!SW/**/*.qip
!SW/**/*.dtsi
!SW/**/*.md
!SW/**/*Makefile
!SW/**/*xlsx
SW/**/*.BAK*
SW/**/*.bak*
!SW/**/*.ipynb

